* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg , #010758 , #490d61);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(216, 210, 210);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgba(128, 0, 128, 0.73);
    text-align: center;
    font-variant: small-caps;

}

label {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
    display: block;
}

select, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    font-variant: small-caps;

}

select {
    background-color: #fafafa;
}

textarea {
    resize: none;
    font-weight: bold;
    font-variant: small-caps;
}

button {
    background: linear-gradient(45deg , #171c63 , #7608a2);    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#speakBtn {
    font-size: 16px;
    font-family: cursive;
    font-weight: bold;
    
}
